<%- include("includes/header") %> 
<% if (title) { %>
    <h1><%= title %> </h1>
    <p><%= content %> </p>
    <p><%= date %> </p>
    <% } else { %>
        <h1>Rien a voir ici</h1>
        <p>Error post not found</p>
    <% } %>
    
<%- include("includes/footer") %> 